@import "tailwindcss";

@theme {
  /* Dark backdrop base */
  --color-bgDark: #05010a;        /* Extremely dark plum/black */
  
  /* The Glow Orbs colors */
  --color-glowPurple: #6408bf;    /* Electric Violet */
  --color-glowPink: #b1164e;      /* Deep Wine Red/Pink */

  --color-textMain: #f8fafc;       
  --color-textMuted: #94a3b8;      
  --color-accentColor: #d79bc8;    /* Soft lavender accent for highlight text */

  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-bgDark);
    color: var(--color-textMain);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out infinite;
  animation-delay: 3s;
}